#wrapper {
  display: block;
  margin: 100px auto;
  border: solid salmon;
  width: 300px;
}

STUDENT {
  display: block;
  border: solid #596ab8;
  background-color: rgb(241, 223, 116);
  margin: 10px 20px 10px 20px;
  margin-top: 14px;
}

NAME {
  display: block;
  text-align: center;
  padding: 5px 0 5px 0;
}

SURNAME {
  display: block;
  text-align: center;
  border-top: solid #596ab8;
  padding: 5px 0 5px 0;
}

GROUP {
  display: block;
  text-align: center;
  border-top: solid #596ab8;
  padding: 5px 0 5px 0;
}
