* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

/*------------------------------menu------------------------------*/
.menu {
	text-align: center;
	padding: 30px 0;
}

/*------------------------------chess------------------------------*/

.white {
	background: white;
	padding: 20px;
}

.black {
	background: black;
	padding: 20px;
}

.chess {
	display: flex;
	justify-content: center;
	padding: 30px 0;
}

.chess tr:first-child td,
.chess tr:last-child td,
.chess td:first-child,
.chess td:last-child {
	padding: 8px;
	background: #78e08f;
}

.chess table {
	border-collapse: collapse;
}

.chess tr, td {
	border: solid 1px gray;
}

.flexChess {
	display: flex;
	flex-direction: column;
}

.chess-tr div,  .chess-tr-s div{
	border: solid 1px gray;
}

.chess-tr, .chess-tr-s {
	display: flex;
}

.chess-tr div:nth-child(odd) {
	background: white;
	padding: 20px;
}

.chess-tr div:nth-child(even) {
	background: black;
	padding: 20px;
}

.chess-tr-s div:nth-child(odd) {
	background: black;
	padding: 20px;
}

.chess-tr-s div:nth-child(even) {
	background: white;
	padding: 20px;
}

.flexChess .chess-tr:first-child div,
.flexChess .chess-tr:first-child div,
.flexChess .chess-tr-s:last-child div,
.flexChess .chess-tr-s:last-child div,
.chess-tr div:first-child,
.chess-tr-s div:first-child,
.chess-tr div:last-child,
.chess-tr-s div:last-child {
	padding: 8px;
	background: #78e08f;
}

/*------------------------------animation------------------------------*/

.test_anim {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #079992;
}

.animation_square {
	width: calc(100vw / 2);
	height: calc(100vh / 2);
	background: #38ada9;
	position: relative;
}

.ball {
	border-radius: 100%;
	width:90px;
	height:90px;
	background: #e55039;
	position: absolute;
	bottom:50%;left:20%;

}

.animation_square:hover .ball {
	animation: ball linear 1.5s infinite;
	-webkit-animation: ball linear 1.5s infinite;
}

.square {
	padding: 60px;
	background: #B53471;
	position: absolute;
	bottom:20%;right:10%;
	animation: square_anim linear 2s infinite;
	-webkit-animation: square_anim linear 2s infinite;
}

.ellipse {
	width: 90px;height: 60px;
	border: solid 1px #1B1464;
	background-color: #A3CB38;
	border-radius: 100%;
	position: absolute;
	bottom:65%;left:50%;
}

.animation_square:hover .ellipse {
	animation: ellipse_anim linear 1.5s infinite;
	-webkit-animation: ellipse_anim linear 1.5s infinite;
}

@-webkit-keyframes ball {
0% {bottom:50%;left:20%;}
25% {bottom:5%;left:20%;width:90px;height:90px;}
30% {bottom:5%;left:20%;width:100px;height:15px;}
35% {bottom:5%;left:20%;width:90px;height:90px;}
70% {bottom:50%;left:20%;}
100% {bottom:50%;left:20%;}
}

@-webkit-keyframes square_anim {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}

@-webkit-keyframes ellipse_anim {
0% {background-color: #A3CB38;}
25% {background-color: #009432;}
50% {background-color: #B53471;}
75% {background-color: #12CBC4;}
100% {background-color: #EA2027;}
}

/*------------------------------MAKET_FLEX------------------------------*/

header {
	background: #99ccff;
	color: #0033ff;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
}

article {
	display: flex;
}

/*----------menu----------*/

.article_menu {
	background: #ffff99;
	padding: 30px 20px;
	width: 30%;
}

.article_menu h3 {
	padding-bottom: 20px; 
}

.article_menu ul {
	padding-left: 25px;
}

/*----------description----------*/

.description {
	padding: 30px 20px;
	width: 70%;
}

.description img {
	float: left;
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0 20px 20px 0;

}

.description h2 {
	text-transform: uppercase;
	padding-bottom: 30px;
	text-align: center;
}

footer {
	background: #99ccff;
	color: #0033ff;
	text-transform: uppercase;
	text-align: center;
	padding: 10px 0;
}
