* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.5px;
	color: #fff;
	overflow: hidden;
	background: #0a3d62;
}

a {
	text-decoration: none;
	color: #fff;
}

ul, ol, li {
	list-style-type: none;
	color: #fff;
}

/*-----------------NAVIGATION---------------------*/

.nav {
	margin: 0 15%;
	background: rgb(52, 73, 94, 0.3);
}

.nav .menu {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;
}

.dropdown {
	position: relative;
    /*display: inline-block;*/
}



.main_item {
    color: #fff;
    cursor: pointer;
    background: red;
    padding:20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.drop_item {
	display: none;
    background-color: rgb(220, 221, 225);
    /*min-width: 200px;*/
}

.drop_item a {
    display: block;
    padding: 20px;
    color: rgb(25, 42, 86);
    font-weight: bold;
    text-transform: uppercase;
}

.drop_item a:first-child {
	border-bottom: dashed rgb(194, 54, 22) 1px;
}

.menu li:nth-child(2), .menu li:nth-child(3) {
	padding: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

.dropdown:hover .drop_item {
    display: block;
}

/*-----------------Animation---------------------*/

.wrapper {
	width: 100vw;
  	height: 100vh;
  	background: url(../img/animback.png) center / cover;
	/*overflow: hidden;*/
}

@-webkit-keyframes spaceship {
0% {right:-300px;top:50%;}
30% {right:30%;top:20%; transform: rotate(-80deg);}
60% {right:60%;top:35%; transform: rotate(-120deg);}
100% {right:100%;top:50%;}
}

@-webkit-keyframes spaceshipsec {
0% {left:50%;bottom:-300px;}
30% {left:60%;bottom:30%;}
60% {left:70%;bottom:60%;}
100% {left:80%;bottom:100%;}
}

@-webkit-keyframes spaceshipset {
0% {left:20%;top:-300px;}
30% {left:30%;top:30%;transform: rotate(30deg);}
60% {left:15%;top:60%;}
100% {left:45%;top:100%;}
}

@-webkit-keyframes planet {
0% {bottom:60%;left:30%;}
25% {bottom:5%;left:30%;width:100px;height:100px;}
30% {bottom:5%;left:30%;width:110px;height:25px;}
35% {bottom:5%;left:30%;width:100px;height:100px;}
70% {bottom:60%;left:30%;}
100% {bottom:60%;left:30%;}
}

.planet img {
	width:100px;height:100px;
	position: absolute;
	animation:planet linear 1.5s infinite;
	-webkit-animation:planet linear 1.5s infinite;
}

.spaceship img {
	transform: rotate(-100deg);
	position: absolute;
	width: 200px;
	animation:spaceship linear 6s infinite;
	-webkit-animation:spaceship linear 6s infinite;
}

.spaceship2 img {
	transform: rotate(30deg);
	position: absolute;
	width: 200px;
	animation:spaceshipsec linear 6s infinite;
	-webkit-animation:spaceshipsec linear 6s infinite;
}

.spaceship3 img {
	transform: rotate(-30deg);
	position: absolute;
	width: 200px;
	animation:spaceshipset ease-in 6s infinite;
	-webkit-animation:spaceshipset ease-in 6s infinite;
}

.z_index {
	z-index: 88;
}